*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Work Sans;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none
}
img{
    display: block;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
/* ==haeder part style== */
header{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1575%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1576%26quot%3b)'%3e%3c/rect%3e%3cpath d='M740.5553882448594 45.87127441127792L806.9493274275151 133.97900759060155 895.0570606068387 67.58506840794591 828.663121424183-20.522664771377734z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M243.217834310866 379.31867177778946L141.85130889646038 375.6821491967502 182.10541563781956 454.68528197706735z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1146.9169677480618 310.8998845605896L1180.0993348813633 177.81267913275698 1047.0121294535306 144.6303119994554 1013.8297623202292 277.71751742728804z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1421.685%2c360.956C1468.786%2c363.824%2c1516.625%2c344.537%2c1540.886%2c304.064C1565.759%2c262.57%2c1560.874%2c210.744%2c1536.925%2c168.71C1512.717%2c126.22%2c1470.575%2c93.745%2c1421.685%2c94.846C1374.328%2c95.913%2c1336.008%2c131.202%2c1315.1%2c173.707C1296.545%2c211.427%2c1304.436%2c254.399%2c1325.231%2c290.932C1346.296%2c327.94%2c1379.181%2c358.368%2c1421.685%2c360.956' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1129.9523591918314 340.7895534100185L977.5190799468354 313.91145352125807 950.6409800580749 466.3447327662541 1103.074259303071 493.2228326550146z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M146.61690196529125 401.1985791714234L85.85600058664903 286.9239438903126-28.4186346944617 347.68484526895486 32.3422666841805 461.95948055006556z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M148.23332157251565 496.5301803054701L190.1163055700664 618.167198020679 311.7533232852753 576.2842140231282 269.87033928772456 454.64719630791933z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M677.3040722181465 163.23486998354352L772.9484691423742 227.74783029719254 741.8170325317956 67.59047305931591z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1575'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='139.29%25' x2='84.72%25' y2='-39.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1576'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 84%2c 158%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
header nav{
    padding: 50px 0;
}
header nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .left a{
    color:#ffffff;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}
header .right a{
    color:#ffffff;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-right: 30px;
}
/* ==haeder part style== */
/* ==banner part style start== */
#banner_part{
    padding-bottom: 50px;
}
#banner_part h3{
    color:#ffffff;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}
#banner_part p{
    color:#ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 35px 0;
}
#banner_part .my_btn{
    text-align: center;
}
#banner_part .my_btn a{
    padding: 21px 25px;
    background: #2650f5;
    border: none;
    border-radius: 8px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
}
#banner_part img{
    width: 100%; 
    border-radius: 8px;
    margin-top: 50px;
}
/* ==banner part style end== */
/* ==features_part part style end== */
#features_part{
    padding: 90px 0;
}
#features_part .container{
    display: flex;
}
#features_part .left{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 24px;
}

#features_part .right{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 73px;
}
#features_part .right h3{
    width: 468px;
}
#features_part .right h3 .first{
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

#features_part .right h3 .second{
    color:#131313;
    font-size: 45px;
    font-weight: 700;
}

#features_part .right h3 .third{
    color: rgb(9, 9, 118);
    font-size: 45px;
    font-weight: 700;
}

#features_part .right p{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    
    margin: 24px 0 32px;  
}

#features_part .right button{
    width: 180px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: linear-gradient(135deg, rgb(20, 38, 120) 60%, rgb(9, 117, 240));
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
/* ==features_part part style start== */
/* ==enjoy_part part style start== */
#enjoy_part .container{
    display: flex;
    justify-content: space-between;
}
#enjoy_part .left h3{
    color:#131313;
    font-size: 45px;
    font-weight: 700;
    width: 468px;
    margin-top: 30px;
}
#enjoy_part .left > p{
    color:#727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 586px;
    margin: 24px 0 30px;
}
#enjoy_part .left .enjoy_description{
    padding: 30px;
    column-gap: 20px;
    transition: .4s;
}
#enjoy_part .left .enjoy_description:hover{
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.75);
}
#enjoy_part .left .enjoy_description h5{
    color:#131313;
    font-size: 20px;
    font-weight: 600;
}
#enjoy_part .left .enjoy_description p{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 514px;
}

#enjoy_part .right{
    position: relative;
}
#enjoy_part .right .experience{
    width: 342px;
    height: 200px;
    border-radius: 8px;
    background: linear-gradient(135deg, rgb(20, 38, 120) 60%, rgb(9, 117, 240));
    position: absolute;
    bottom: -77px;
    left: -92px;
    text-align: center;
}
#enjoy_part .right .experience h2{
    color: #FFF;
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    line-height: 70px;
    justify-content: center;
    padding-top: 45px;
}
#enjoy_part .right .experience h5{
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    justify-content: center;
}
/* ==enjoy_part part style end== */